# Vitepress and Repo Setup
.github/**/*            @lolpants
/wiki/.vitepress/**/*   @lolpants
nginx/**/*              @lolpants
scripts/**/*            @lolpants
.dockerignore           @lolpants
.editorconfig           @lolpants
.gitattributes          @lolpants
.gitignore              @lolpants
.markdownlint.json      @lolpants
.prettierignore         @lolpants
.prettierrc.json        @lolpants
Dockerfile              @lolpants
LICENSE                 @lolpants
package.json            @lolpants
package-lock.json       @lolpants

# Translation
crowdin.yml             @bloodcloak

# Wiki Admins
/wiki/**/*.md           @bloodcloak

# Section Owners
/wiki/modding/**/*.md   @bloodcloak @Auros @Caeden117
/wiki/mapping/**/*.md   @bloodcloak @helencarnate
