# Vuepress and Repo Setup
.github/**/*          @lolpants
/wiki/.vuepress/**/*  @lolpants
nginx/**/*            @lolpants
.dockerignore         @lolpants
.editorconfig         @lolpants
.eslintignore         @lolpants
.eslintrc.js          @lolpants
.gitattributes        @lolpants
.gitignore            @lolpants
Dockerfile            @lolpants
LICENSE               @lolpants
package.json          @lolpants
yarn.lock             @lolpants

# Wiki Admins
/wiki/**/*.md          @megalon @williums @assistant @bloodcloak

# Section Owners
/wiki/modding/**/*.md  @megalon @williums @assistant @aurosx @caeden117
/wiki/mapping/**/*.md  @megalon @williums @assistant @helencarnate @bloodcloak

/wiki/fr/**/*.md       @Awagi
