name: Wiki CI
on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches-ignore:
      - cwdin-backups
      - 'crowdin/**'

env:
  NODE_VERSION: 18.x

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Install packages
        run: npm ci
      - name: Lint Markdown Files
        run: npm run lint
      - name: Lint Image Sizes
        run: npm run lint:images

  deploy:
    name: Deploy
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Install packages
        run: npm ci
      - name: Build
        run: npm run build
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v2
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: wiki/.vitepress/dist
      - name: Deploy Wiki
        id: deployment
        uses: actions/deploy-pages@v1
