name: Wiki CI
on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches-ignore:
      - cwdin-backups
      - 'crowdin/**'

env:
  NODE_VERSION: 20.x

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Install packages
        run: npm ci
      - name: Lint with Prettier
        run: npm run lint:prettier
      - name: Lint with markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v15
        with:
          config: ./.markdownlint.jsonc
          globs: |
            wiki/**/*.md
            #wiki/{de,fr,ja,nl}/**/*.md
      - name: Lint Image Sizes
        run: npm run lint:images

  deploy:
    name: Deploy Main
    if: ${{ (github.ref == 'refs/heads/master') && (github.repository == 'bsmg/wiki') }}
    runs-on: ubuntu-latest
    needs: test
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Install packages
        run: npm ci
      - name: Build
        run: npm run build -- --base="/${{ github.event.repository.name }}/"
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v4
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: wiki/.vitepress/dist
      - name: Deploy Wiki
        id: deployment
        uses: actions/deploy-pages@v4

  deployf:
    name: Deploy Fork
    if: ${{ (github.ref == 'refs/heads/master') && (github.repository != 'bsmg/wiki') }}
    runs-on: ubuntu-latest
    needs: test
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Install packages
        run: npm ci
      - name: Build
        run: npm run build -- --base="/${{ github.event.repository.name }}/"
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v4
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: wiki/.vitepress/dist
      - name: Deploy Wiki
        id: deployment
        uses: actions/deploy-pages@v4
